:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;

  --shadow-color: #f5f0f0;
  --darkmode-elements: hsl(209, 23%, 22%);

  --white: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --dark-bg: hsl(0, 0%, 98%);
  --light-bg: var(--white);

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--light-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root:has(#color__scheme:checked) {
  color-scheme: dark;
  --text-color: var(--white);
  --dark-bg: hsl(207, 26%, 17%);
  --light-bg: hsl(211.3deg 20.72% 21.76%);
  --shadow-color: hsl(207, 21%, 14%);
  --input-color: var(--white);

  input {
    background-image: url("../magnifying-glass-solid-light.svg");
  }

  #mode__toggler {
    background-image: url("../moon-solid.svg");
  }

  #back__btn {
    background-image: url("../arrow-left-light.svg");
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
}

div#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  width: 100%;
  background-size: contain;
}

a {
  text-decoration: none;
  color: var(--text-color);
  height: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 3.5rem;
  background-position: 1.5rem center;
}
button:hover {
  box-shadow: 0 3px 3px var(--dark-bg);
}
button:active {
  background-color: var(--dark-bg);
}

.feint__shadow {
  box-shadow: 0 3px 3px 3px var(--shadow-color);
}

.container {
  padding: 0 5rem;
  transition: all ease-in-out 0.4s;
}

.container.loading #countries__list,
.container.loading .country__details {
  opacity: 0.5;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: fixed;
  top: 45%;
  left: 45%;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

header,
select,
input {
  background-color: var(--light-bg);
}

header {
  position: relative;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0rem;
}

#mode__toggler {
  position: relative;
  cursor: pointer;
}

#mode__toggler #color__scheme {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
#mode__toggler #color__scheme,
#mode__toggler div {
  width: 100%;
  height: 100%;
}

#mode__toggler {
  background-image: url("../moon-regular.svg");
}

main {
  background-color: var(--dark-bg);
  flex: auto 1;
}

#search__and__filter {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.curved__border {
  border-radius: 0.3rem;
}

input,
select {
  padding: 1.3rem 0.5rem;
}

input {
  padding-left: 5rem;
  border: 0;
  color: var(--input-color);
  width: 100%;
  font-size: 1rem;
  max-width: 500px;
  background-image: url("../magnifying-glass-solid.svg");
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-color: var(--light-bg);
  background-position: 2rem center;
}

select.select__region {
  width: 200px;
  max-width: 100%;
  border: 0;
  border-right: 0.5rem solid transparent;
}

#countries__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.country__card {
  background-color: var(--light-bg);
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  transition: box-shadow 0.2s ease-in-out;
}
.country__card:hover {
  box-shadow: 10px 10px 12px var(--shadow-color);
}

.country__img__container {
  height: 50%;
}

img.country__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.country__card .country__card__info {
  padding: 1rem 1.7rem 2rem;
  font-weight: 300;
}

.country__card__info h3 {
  margin: 0.7rem 0;
  font-weight: 800;
}

span.country__card__title {
  font-weight: 600;
}

#country__info {
  padding: 4rem;
}

#back__btn {
  background-color: var(--light-bg);
  background-image: url("../arrow-left.svg");
}
#back__btn:active {
  box-shadow: 0 0 3px 3px var(--shadow-color);
}

.country__details {
  padding: 3rem 0 0;
}

#country {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}
#country h2 {
  font-weight: 800;
}

.flag {
  max-width: 600px;
}

.country__info {
  width: 100%;
}
.country__text__info {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  row-gap: 2rem;
  line-height: 2;
  padding: 2rem 0;
}
.country__info__title {
  font-weight: 800;
}
.country__info button {
  padding: 0.5rem 1rem;
  background-color: var(--light-bg);
}
.border__countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  transition-duration: 0s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    --text-color: var(--white);
    --dark-bg: hsl(207, 26%, 17%);
    --light-bg: hsl(211.3deg 20.72% 21.76%);
    --shadow-color: hsl(207, 21%, 14%);
    --input-color: var(--white);
  }

  :root:has(#color__scheme:checked) {
    color-scheme: light;
    --shadow-color: #f5f0f0;
    --white: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
    --input-color: hsl(0, 0%, 52%);
    --dark-bg: hsl(0, 0%, 98%);
    --light-bg: var(--white);

    input {
      background-image: url("../magnifying-glass-solid.svg");
    }

    #mode__toggler {
      background-image: url("../moon-regular.svg");
    }

    #back__btn {
      background-image: url("../arrow-left.svg");
    }
  }

  input {
    background-image: url("../magnifying-glass-solid-light.svg");
  }

  #mode__toggler {
    background-image: url("../moon-solid.svg");
  }

  #back__btn {
    background-image: url("../arrow-left-light.svg");
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 1.5rem;
  }

  #country {
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .country__text__info {
    grid-template-columns: 1fr;
  }
}
