:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;

  --shadow-color: #f5f0f0;
  --darkmode-elements: hsl(209, 23%, 22%);

  --white: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --dark-bg: hsl(0, 0%, 98%);
  --light-bg: var(--white);

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--light-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 3.5rem;
  background-position: 1.5rem center;
}
button:hover {
  box-shadow: 0 3px 3px var(--dark-bg);
}
button:active {
  background-color: var(--dark-bg);
}

.feint__shadow {
  box-shadow: 0 3px 3px var(--shadow-color);
}

.container {
  padding: 0 5rem;
}

header,
select,
input {
  background-color: var(--light-bg);
}

header {
  position: relative;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0rem;
}

#mode__toggler {
  background-image: url("../public/moon-regular.svg");
}

main {
  background-color: var(--dark-bg);
}

section#search__and__filter {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.curved__border {
  border-radius: 0.3rem;
}

input,
select {
  padding: 1.3rem 0.5rem;
}

input {
  padding-left: 5rem;
  border: 0;
  color: var(--input-color);
  width: 100%;
  font-size: 1rem;
  max-width: 500px;
  background-image: url("../public/magnifying-glass-solid.svg");
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-color: var(--light-bg);
  background-position: 2rem center;
}

select.select__region {
  width: 200px;
  max-width: 100%;
  border: 0;
  border-right: 0.5rem solid transparent;
}

#countries__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.country__card {
  background-color: var(--light-bg);
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  transition: box-shadow 0.2s ease-in-out;
}
.country__card:hover {
  box-shadow: 10px 10px 12px var(--shadow-color);
}

.country__card .country__card__info {
  padding: 1rem 1.7rem 2rem;
  font-weight: 300;
}

.country__card__info h3 {
  margin: 0.7rem 0;
  font-weight: 800;
}

span.country__card__title {
  font-weight: 600;
}

#country__info {
  padding: 4rem;
}

#back__btn {
  background-color: var(--light-bg);
  background-image: url("../public/arrow-left.svg");
}
#back__btn:active {
  box-shadow: 0 0 3px 3px var(--shadow-color);
}

.country__details {
  padding: 3rem 0;
}

#country {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}
#country h2 {
  font-weight: 800;
}

.flag {
  max-width: 600px;
}

.country__info {
  width: 100%;
}
.country__text__info {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  row-gap: 2rem;
  line-height: 2;
  padding: 2rem 0;
}
.country__info__title {
  font-weight: 800;
}
.country__info button {
  padding: 0.5rem 1rem;
  background-color: var(--light-bg);
}
.border__countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--white);
    --dark-bg: hsl(207, 26%, 17%);
    --light-bg: hsl(211.3deg 20.72% 21.76%);
    --shadow-color: hsl(207, 26%, 17%);
    --input-color: var(--white);
  }

  input {
    background-image: url("../public/magnifying-glass-solid-light.svg");
  }

  #mode__toggler {
    background-image: url("../public/moon-solid.svg");
  }

  #back__btn {
    background-image: url("../public/arrow-left-light.svg");
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 1.5rem;
  }

  #country {
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .country__text__info {
    grid-template-columns: 1fr;
  }
}
